html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  font: inherit;
  margin: 0;
  color: inherit;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html input[type='button'],input[type='reset'],input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,th {
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  font: inherit;
  margin: 0;
  color: inherit;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html input[type='button'],input[type='reset'],input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,th {
  padding: 0;
}

._xs-hidden-up {
  display: none !important;
}

._lg-hidden-down {
  display: none !important;
}

html {
  font-size: 16px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: .625rem;
  padding-left: .625rem;
}

.container.-fluid {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: .625rem;
  padding-left: .625rem;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -.625rem;
  margin-left: -.625rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.-xs-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.row.-xs-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.row.-xs-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.row.-xs-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
}

.row.-xs-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  -ms-grid-row-align: baseline;
  align-items: baseline;
}

.row.-xs-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.column {
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  padding-right: .625rem;
  padding-left: .625rem;
}

.column.-xs-1 {
  box-sizing: border-box;
  max-width: 8.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
}

.column.-xs-2 {
  box-sizing: border-box;
  max-width: 16.66667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
}

.column.-xs-3 {
  box-sizing: border-box;
  max-width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.column.-xs-4 {
  box-sizing: border-box;
  max-width: 33.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
}

.column.-xs-5 {
  box-sizing: border-box;
  max-width: 41.66667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
}

.column.-xs-6 {
  box-sizing: border-box;
  max-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.column.-xs-7 {
  box-sizing: border-box;
  max-width: 58.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
}

.column.-xs-8 {
  box-sizing: border-box;
  max-width: 66.66667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
}

.column.-xs-9 {
  box-sizing: border-box;
  max-width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.column.-xs-10 {
  box-sizing: border-box;
  max-width: 83.33333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
}

.column.-xs-11 {
  box-sizing: border-box;
  max-width: 91.66667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
}

.column.-xs-12 {
  box-sizing: border-box;
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.column.-xs-pull-0 {
  right: auto;
}

.column.-xs-pull-1 {
  right: 8.33333%;
}

.column.-xs-pull-2 {
  right: 16.66667%;
}

.column.-xs-pull-3 {
  right: 25%;
}

.column.-xs-pull-4 {
  right: 33.33333%;
}

.column.-xs-pull-5 {
  right: 41.66667%;
}

.column.-xs-pull-6 {
  right: 50%;
}

.column.-xs-pull-7 {
  right: 58.33333%;
}

.column.-xs-pull-8 {
  right: 66.66667%;
}

.column.-xs-pull-9 {
  right: 75%;
}

.column.-xs-pull-10 {
  right: 83.33333%;
}

.column.-xs-pull-11 {
  right: 91.66667%;
}

.column.-xs-pull-12 {
  right: 100%;
}

.column.-xs-push-0 {
  left: auto;
}

.column.-xs-push-1 {
  left: 8.33333%;
}

.column.-xs-push-2 {
  left: 16.66667%;
}

.column.-xs-push-3 {
  left: 25%;
}

.column.-xs-push-4 {
  left: 33.33333%;
}

.column.-xs-push-5 {
  left: 41.66667%;
}

.column.-xs-push-6 {
  left: 50%;
}

.column.-xs-push-7 {
  left: 58.33333%;
}

.column.-xs-push-8 {
  left: 66.66667%;
}

.column.-xs-push-9 {
  left: 75%;
}

.column.-xs-push-10 {
  left: 83.33333%;
}

.column.-xs-push-11 {
  left: 91.66667%;
}

.column.-xs-push-12 {
  left: 100%;
}

.column.-xs-offset-1 {
  margin-left: 8.33333%;
}

.column.-xs-offset-2 {
  margin-left: 16.66667%;
}

.column.-xs-offset-3 {
  margin-left: 25%;
}

.column.-xs-offset-4 {
  margin-left: 33.33333%;
}

.column.-xs-offset-5 {
  margin-left: 41.66667%;
}

.column.-xs-offset-6 {
  margin-left: 50%;
}

.column.-xs-offset-7 {
  margin-left: 58.33333%;
}

.column.-xs-offset-8 {
  margin-left: 66.66667%;
}

.column.-xs-offset-9 {
  margin-left: 75%;
}

.column.-xs-offset-10 {
  margin-left: 83.33333%;
}

.column.-xs-offset-11 {
  margin-left: 91.66667%;
}

.column.-xs-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.column.-xs-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.column.-xs-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.column.-xs-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.column.-xs-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.column.-xs-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.column.-xs-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

._text-center {
  text-align: center;
}

._text-left {
  text-align: left;
}

._text-right {
  text-align: right;
}

._hide {
  display: none;
}

._invisible {
  visibility: hidden;
}

._wrap {
  overflow: hidden;
}

._d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

._justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

._justify-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

._justify-arround {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

._justify-beetwen {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

._justify-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

._align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

._pull-left {
  float: left;
}

._pull-right {
  float: right;
}

._pl0 {
  padding-left: 0;
}

._pr0 {
  padding-right: 0;
}

._p0 {
  padding: 0;
}

h2.site-h2 {
  font-family: 'AG-Demi';
  font-size: 30px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

h2.site-h2.-bg {
  line-height: 55px;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #90baba;
  text-shadow: none;
}

h2.site-h2.-no-shadow {
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: none;
}

h3.site-h3 {
  font-family: 'AG-Regular';
  font-size: 22px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: #fff;
}

body {
  background-color: #fff;
}

header {
  min-height: 650px;
  background-image: url(../img/bg/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header .logo-img {
  width: 100%;
  margin-top: 18px;
}

header .logo-img > img {
  display: block;
  width: 100%;
  max-width: 52px;
  height: auto;
  max-height: 66px;
  margin: 0 auto;
}

header h1.site-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 22px;
  text-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header h1.site-title span.text {
  font-family: 'AG-Demi';
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  color: #fff;
}

header h1.site-title span.text.-secondline {
  margin-bottom: 3px;
  letter-spacing: 1.5px;
}

header span.studio-name {
  font-family: 'AG-Regular';
  font-size: 11px;
  line-height: 15px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
}

header section.site-phone h2.phone {
  font-family: 'AG-Regular';
  font-size: 27px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  color: #fff;
}

header section.site-phone span.call {
  font-family: 'AG-Regular';
  font-size: 16px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
}

header p.b-cta {
  font-family: 'AG-Demi';
  font-size: 40px;
  width: 100%;
  margin-top: 125px;
  margin-bottom: 110px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}

header p.b-cta span.summ {
  color: #bf152b;
}

header p.cta-text {
  font-family: 'AG-Demi';
  font-size: 16px;
  width: 100%;
  text-align: center;
  letter-spacing: .9px;
  color: #fff;
}

header p.cta-text > span.asterisk {
  font-size: 26px;
}

header p.cta-text > span.text.-bigger {
  font-size: 18px;
  display: inline-block;
  width: 100%;
}

header form.cta-form {
  margin-top: 16px;
}

header form.cta-form > label.phone {
  display: block;
  width: 100%;
  margin-bottom: 17px;
}

header form.cta-form > label.phone > input {
  font-family: 'AG-Regular';
  font-size: 29px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  letter-spacing: 1px;
  color: #929292;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
}

header form.cta-form > label.phone > input::-webkit-input-placeholder {
  font-family: 'AG-Regular';
  font-size: 29px;
  color: #929292;
}

header form.cta-form > label.phone > input::-moz-placeholder {
  font-family: 'AG-Regular';
  font-size: 29px;
  color: #929292;
}

header form.cta-form > label.phone > input:-ms-input-placeholder {
  font-family: 'AG-Regular';
  font-size: 29px;
  color: #929292;
}

header form.cta-form > label.phone > input::placeholder {
  font-family: 'AG-Regular';
  font-size: 29px;
  color: #929292;
}

header form.cta-form > label.phone > input.-error {
  background-color: #f4eccd;
}

header form.cta-form > label.phone > input.-valid {
  background-color: #d5f8d6;
}

header form.cta-form > button.submit {
  font-family: 'AG-Demi';
  font-size: 31px;
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  background: -webkit-linear-gradient(top, #bf152b, #8d0743);
  background: linear-gradient(180deg, #bf152b, #8d0743);
  box-shadow: 0 1px 1px 0 #6b0533;
}

.s-reasons {
  padding-bottom: 30px;
  background-image: url(../img/bg/bg-reasons.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.reason-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reason-item .img {
  width: 100%;
  max-width: 62px;
}

.reason-item .img img {
  display: block;
  width: 100%;
  height: auto;
}

.reason-item p.text {
  font-family: 'AG-Demi';
  font-size: 16px;
  margin: 0;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.reason-item p.text span {
  text-decoration: underline;
  text-transform: uppercase;
}

.s-requirement {
  margin-bottom: 30px;
}

.s-requirement div.text {
  margin-top: 20px;
  padding: 25px;
  background-color: #758da0;
}

.s-requirement div.text p {
  font-family: 'AG-Demi';
  font-size: 22px;
  margin: 0;
  text-align: center;
  color: #fff;
}

.s-requirement div.text p:first-child {
  margin-bottom: 30px;
}

.requirment-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.requirment-item:hover > img {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.requirment-item.-small {
  height: 140px;
}

.requirment-item.-small:first-child {
  margin-bottom: 20px;
}

.requirment-item > img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all .325s ease 0s;
  transition: all .325s ease 0s;
  -o-object-fit: cover;
  object-fit: cover;
}

.requirment-item > p.text {
  font-family: 'AG-Demi';
  font-size: 30px;
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 20px;
  width: 100%;
  margin: 0;
  color: #fff;
}

section.b-final {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #175367;
}

section.b-final div.text {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  background-color: #147c9e;
  box-shadow: 0 2px 4px -2px #000;
}

section.b-final div.text p {
  font-family: 'AG-Demi';
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #fff;
}

section.b-final div.text p:last-child {
  margin-bottom: 0;
}

section.b-final div.text p span.big {
  text-decoration: underline;
  text-transform: uppercase;
}

section.b-final form.casting-form label {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

section.b-final form.casting-form label > input {
  font-family: 'AG-Regular';
  font-size: 18px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 20px;
  text-align: left;
  letter-spacing: 1px;
  color: #929292;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
}

section.b-final form.casting-form label > input::-webkit-input-placeholder {
  font-family: 'AG-Regular';
  font-size: 18px;
  color: #929292;
}

section.b-final form.casting-form label > input::-moz-placeholder {
  font-family: 'AG-Regular';
  font-size: 18px;
  color: #929292;
}

section.b-final form.casting-form label > input:-ms-input-placeholder {
  font-family: 'AG-Regular';
  font-size: 18px;
  color: #929292;
}

section.b-final form.casting-form label > input::placeholder {
  font-family: 'AG-Regular';
  font-size: 18px;
  color: #929292;
}

section.b-final form.casting-form label > input.-error {
  background-color: #f4eccd;
}

section.b-final form.casting-form label > input.-valid {
  background-color: #d5f8d6;
}

section.b-final form.casting-form button.submit {
  font-family: 'AG-Demi';
  font-size: 18px;
  display: block;
  width: 100%;
  height: 55px;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  background: -webkit-linear-gradient(top, #67e76c, #0f8817);
  background: linear-gradient(180deg, #67e76c, #0f8817);
  box-shadow: 0 1px 1px 0 #0b6211;
}

section.b-final p.smalltext {
  font-family: 'AG-Regular';
  font-size: 12px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
}

section.b-final p.biggertext {
  font-family: 'AG-Regular';
  font-size: 18px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  color: #fff;
}

section.b-final a.notrecord {
  font-family: 'AG-Demi';
  font-size: 11px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 35px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  background: -webkit-linear-gradient(top, #bf152b, #8d0743);
  background: linear-gradient(180deg, #bf152b, #8d0743);
  box-shadow: 0 1px 1px 0 #6b0533;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #147c9e;
}

footer .links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer span {
  font-family: 'AG-Regular';
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}

footer a.icon {
  display: inline-block;
  margin-right: 5px;
  -webkit-transition: all .325s ease 0s;
  transition: all .325s ease 0s;
}

footer a.icon:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

footer a.icon.-vk {
  width: 20px;
  height: 20px;
  background-image: url('../img/sprite/png-sprite.png');
  background-position: 0 -21px;
}

footer a.icon.-inst {
  width: 20px;
  height: 20px;
  background-image: url('../img/sprite/png-sprite.png');
  background-position: -21px 0;
}

footer a.icon.-fb {
  width: 20px;
  height: 20px;
  background-image: url('../img/sprite/png-sprite.png');
  background-position: 0 0;
}

footer .logo img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family:'AG-Regular';src:url('../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.eot'),local('AG-Regular');src:url('../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.eot?#iefix') format('embedded-opentype'),local('AG-Regular'),url('../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.woff') format('woff'),url('../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.ttf') format('truetype'),url('../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.svg#AG-Regular') format('svg');
}

@font-face {
  font-family:'AG-Demi';src:url('../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.eot'),local('AG-Demi');src:url('../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.eot?#iefix') format('embedded-opentype'),local('AG-Demi'),url('../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.woff') format('woff'),url('../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.ttf') format('truetype'),url('../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.svg#AG-Demi') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
}

@media (min-width: 33.75em) and (max-width: 49.99em) {
  header section.site-phone h2.phone {
    font-size: 15px;
  }
}

@media (min-width: 540px) {
  ._sm-hidden-up {
    display: none !important;
  }

  .container {
    max-width: 480px;
  }

  .row.-sm-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }

  .row.-sm-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .row.-sm-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
  }

  .row.-sm-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
  }

  .row.-sm-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
  }

  .row.-sm-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .column.-sm-1 {
    box-sizing: border-box;
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }

  .column.-sm-2 {
    box-sizing: border-box;
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }

  .column.-sm-3 {
    box-sizing: border-box;
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }

  .column.-sm-4 {
    box-sizing: border-box;
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }

  .column.-sm-5 {
    box-sizing: border-box;
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }

  .column.-sm-6 {
    box-sizing: border-box;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .column.-sm-7 {
    box-sizing: border-box;
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }

  .column.-sm-8 {
    box-sizing: border-box;
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }

  .column.-sm-9 {
    box-sizing: border-box;
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }

  .column.-sm-10 {
    box-sizing: border-box;
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }

  .column.-sm-11 {
    box-sizing: border-box;
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }

  .column.-sm-12 {
    box-sizing: border-box;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .column.-sm-pull-0 {
    right: auto;
  }

  .column.-sm-pull-1 {
    right: 8.33333%;
  }

  .column.-sm-pull-2 {
    right: 16.66667%;
  }

  .column.-sm-pull-3 {
    right: 25%;
  }

  .column.-sm-pull-4 {
    right: 33.33333%;
  }

  .column.-sm-pull-5 {
    right: 41.66667%;
  }

  .column.-sm-pull-6 {
    right: 50%;
  }

  .column.-sm-pull-7 {
    right: 58.33333%;
  }

  .column.-sm-pull-8 {
    right: 66.66667%;
  }

  .column.-sm-pull-9 {
    right: 75%;
  }

  .column.-sm-pull-10 {
    right: 83.33333%;
  }

  .column.-sm-pull-11 {
    right: 91.66667%;
  }

  .column.-sm-pull-12 {
    right: 100%;
  }

  .column.-sm-push-0 {
    left: auto;
  }

  .column.-sm-push-1 {
    left: 8.33333%;
  }

  .column.-sm-push-2 {
    left: 16.66667%;
  }

  .column.-sm-push-3 {
    left: 25%;
  }

  .column.-sm-push-4 {
    left: 33.33333%;
  }

  .column.-sm-push-5 {
    left: 41.66667%;
  }

  .column.-sm-push-6 {
    left: 50%;
  }

  .column.-sm-push-7 {
    left: 58.33333%;
  }

  .column.-sm-push-8 {
    left: 66.66667%;
  }

  .column.-sm-push-9 {
    left: 75%;
  }

  .column.-sm-push-10 {
    left: 83.33333%;
  }

  .column.-sm-push-11 {
    left: 91.66667%;
  }

  .column.-sm-push-12 {
    left: 100%;
  }

  .column.-sm-offset-0 {
    margin-left: 0;
  }

  .column.-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .column.-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .column.-sm-offset-3 {
    margin-left: 25%;
  }

  .column.-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .column.-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .column.-sm-offset-6 {
    margin-left: 50%;
  }

  .column.-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .column.-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .column.-sm-offset-9 {
    margin-left: 75%;
  }

  .column.-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .column.-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .column.-sm-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .column.-sm-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .column.-sm-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .column.-sm-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .column.-sm-bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .column.-sm-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }

  .column.-sm-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
}

@media (min-width: 800px) {
  ._md-hidden-up {
    display: none !important;
  }

  .container {
    max-width: 768px;
  }

  .row.-md-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }

  .row.-md-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .row.-md-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
  }

  .row.-md-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
  }

  .row.-md-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
  }

  .row.-md-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .column.-md-1 {
    box-sizing: border-box;
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }

  .column.-md-2 {
    box-sizing: border-box;
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }

  .column.-md-3 {
    box-sizing: border-box;
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }

  .column.-md-4 {
    box-sizing: border-box;
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }

  .column.-md-5 {
    box-sizing: border-box;
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }

  .column.-md-6 {
    box-sizing: border-box;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .column.-md-7 {
    box-sizing: border-box;
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }

  .column.-md-8 {
    box-sizing: border-box;
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }

  .column.-md-9 {
    box-sizing: border-box;
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }

  .column.-md-10 {
    box-sizing: border-box;
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }

  .column.-md-11 {
    box-sizing: border-box;
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }

  .column.-md-12 {
    box-sizing: border-box;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .column.-md-pull-0 {
    right: auto;
  }

  .column.-md-pull-1 {
    right: 8.33333%;
  }

  .column.-md-pull-2 {
    right: 16.66667%;
  }

  .column.-md-pull-3 {
    right: 25%;
  }

  .column.-md-pull-4 {
    right: 33.33333%;
  }

  .column.-md-pull-5 {
    right: 41.66667%;
  }

  .column.-md-pull-6 {
    right: 50%;
  }

  .column.-md-pull-7 {
    right: 58.33333%;
  }

  .column.-md-pull-8 {
    right: 66.66667%;
  }

  .column.-md-pull-9 {
    right: 75%;
  }

  .column.-md-pull-10 {
    right: 83.33333%;
  }

  .column.-md-pull-11 {
    right: 91.66667%;
  }

  .column.-md-pull-12 {
    right: 100%;
  }

  .column.-md-push-0 {
    left: auto;
  }

  .column.-md-push-1 {
    left: 8.33333%;
  }

  .column.-md-push-2 {
    left: 16.66667%;
  }

  .column.-md-push-3 {
    left: 25%;
  }

  .column.-md-push-4 {
    left: 33.33333%;
  }

  .column.-md-push-5 {
    left: 41.66667%;
  }

  .column.-md-push-6 {
    left: 50%;
  }

  .column.-md-push-7 {
    left: 58.33333%;
  }

  .column.-md-push-8 {
    left: 66.66667%;
  }

  .column.-md-push-9 {
    left: 75%;
  }

  .column.-md-push-10 {
    left: 83.33333%;
  }

  .column.-md-push-11 {
    left: 91.66667%;
  }

  .column.-md-push-12 {
    left: 100%;
  }

  .column.-md-offset-0 {
    margin-left: 0;
  }

  .column.-md-offset-1 {
    margin-left: 8.33333%;
  }

  .column.-md-offset-2 {
    margin-left: 16.66667%;
  }

  .column.-md-offset-3 {
    margin-left: 25%;
  }

  .column.-md-offset-4 {
    margin-left: 33.33333%;
  }

  .column.-md-offset-5 {
    margin-left: 41.66667%;
  }

  .column.-md-offset-6 {
    margin-left: 50%;
  }

  .column.-md-offset-7 {
    margin-left: 58.33333%;
  }

  .column.-md-offset-8 {
    margin-left: 66.66667%;
  }

  .column.-md-offset-9 {
    margin-left: 75%;
  }

  .column.-md-offset-10 {
    margin-left: 83.33333%;
  }

  .column.-md-offset-11 {
    margin-left: 91.66667%;
  }

  .column.-md-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .column.-md-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .column.-md-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .column.-md-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .column.-md-bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .column.-md-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }

  .column.-md-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
}

@media (min-width: 1024px) {
  ._lg-hidden-up {
    display: none !important;
  }

  .container {
    max-width: 960px;
  }

  .row.-lg-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
  }

  .row.-lg-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  .row.-lg-bottom {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
  }

  .row.-lg-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
  }

  .row.-lg-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
  }

  .row.-lg-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .column.-lg-1 {
    box-sizing: border-box;
    max-width: 8.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
  }

  .column.-lg-2 {
    box-sizing: border-box;
    max-width: 16.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
  }

  .column.-lg-3 {
    box-sizing: border-box;
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }

  .column.-lg-4 {
    box-sizing: border-box;
    max-width: 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
  }

  .column.-lg-5 {
    box-sizing: border-box;
    max-width: 41.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
  }

  .column.-lg-6 {
    box-sizing: border-box;
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .column.-lg-7 {
    box-sizing: border-box;
    max-width: 58.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
  }

  .column.-lg-8 {
    box-sizing: border-box;
    max-width: 66.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
  }

  .column.-lg-9 {
    box-sizing: border-box;
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
  }

  .column.-lg-10 {
    box-sizing: border-box;
    max-width: 83.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
  }

  .column.-lg-11 {
    box-sizing: border-box;
    max-width: 91.66667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
  }

  .column.-lg-12 {
    box-sizing: border-box;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .column.-lg-pull-0 {
    right: auto;
  }

  .column.-lg-pull-1 {
    right: 8.33333%;
  }

  .column.-lg-pull-2 {
    right: 16.66667%;
  }

  .column.-lg-pull-3 {
    right: 25%;
  }

  .column.-lg-pull-4 {
    right: 33.33333%;
  }

  .column.-lg-pull-5 {
    right: 41.66667%;
  }

  .column.-lg-pull-6 {
    right: 50%;
  }

  .column.-lg-pull-7 {
    right: 58.33333%;
  }

  .column.-lg-pull-8 {
    right: 66.66667%;
  }

  .column.-lg-pull-9 {
    right: 75%;
  }

  .column.-lg-pull-10 {
    right: 83.33333%;
  }

  .column.-lg-pull-11 {
    right: 91.66667%;
  }

  .column.-lg-pull-12 {
    right: 100%;
  }

  .column.-lg-push-0 {
    left: auto;
  }

  .column.-lg-push-1 {
    left: 8.33333%;
  }

  .column.-lg-push-2 {
    left: 16.66667%;
  }

  .column.-lg-push-3 {
    left: 25%;
  }

  .column.-lg-push-4 {
    left: 33.33333%;
  }

  .column.-lg-push-5 {
    left: 41.66667%;
  }

  .column.-lg-push-6 {
    left: 50%;
  }

  .column.-lg-push-7 {
    left: 58.33333%;
  }

  .column.-lg-push-8 {
    left: 66.66667%;
  }

  .column.-lg-push-9 {
    left: 75%;
  }

  .column.-lg-push-10 {
    left: 83.33333%;
  }

  .column.-lg-push-11 {
    left: 91.66667%;
  }

  .column.-lg-push-12 {
    left: 100%;
  }

  .column.-lg-offset-0 {
    margin-left: 0;
  }

  .column.-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .column.-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .column.-lg-offset-3 {
    margin-left: 25%;
  }

  .column.-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .column.-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .column.-lg-offset-6 {
    margin-left: 50%;
  }

  .column.-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .column.-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .column.-lg-offset-9 {
    margin-left: 75%;
  }

  .column.-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .column.-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .column.-lg-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .column.-lg-last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .column.-lg-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .column.-lg-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .column.-lg-bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .column.-lg-baseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
  }

  .column.-lg-stretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
  }
}

@media (max-width: 1023px) {
  ._md-hidden-down {
    display: none !important;
  }
}

@media (max-width: 799px) {
  ._sm-hidden-down {
    display: none !important;
  }
}

@media (max-width: 539px) {
  ._xs-hidden-down {
    display: none !important;
  }
}

@media (max-width: 49.99em) {
  h2.site-h2 {
    font-size: 25px;
  }

  header p.b-cta {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .reason-item {
    margin-top: 25px;
  }

  .reason-item p.text {
    margin-top: 10px;
    text-align: center;
  }

  .requirment-item.-small:first-child {
    margin-top: 20px;
  }

  section.b-final a.notrecord {
    width: 100%;
  }
}

@media (max-width: 33.74em) {
  header section.site-phone {
    margin-top: 50px;
  }

  header form.cta-form > label.phone > input {
    font-size: 20px;
  }

  header form.cta-form > label.phone > input::-webkit-input-placeholder {
    font-size: 20px;
  }

  header form.cta-form > label.phone > input::-moz-placeholder {
    font-size: 20px;
  }

  header form.cta-form > label.phone > input:-ms-input-placeholder {
    font-size: 20px;
  }

  header form.cta-form > label.phone > input::placeholder {
    font-size: 20px;
  }

  footer .links {
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=../maps/app.css.map */
