[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
}

@font-face {
  font-family: AG-Regular;
  src: url(../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.eot),local('AG-Regular');
  src: url(../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.eot?#iefix) format('embedded-opentype'),local('AG-Regular'),url(../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.woff) format('woff'),url(../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.ttf) format('truetype'),url(../fonts/amazing-grotesk/regular/amazing_grotesk_regular-webfont.svg#AG-Regular) format('svg');
}

@font-face {
  font-family: AG-Demi;
  src: url(../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.eot),local('AG-Demi');
  src: url(../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.eot?#iefix) format('embedded-opentype'),local('AG-Demi'),url(../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.woff) format('woff'),url(../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.ttf) format('truetype'),url(../fonts/amazing-grotesk/demi/amazing_grotesk_demi-webfont.svg#AG-Demi) format('svg');
}

@font-face {
  font-family: AG-Demi-Italic;
  src: url(../fonts/amazing-grotesk/demi-italic/amazing_grotesk_demi_italic-webfont.eot),local('AG-Demi-Italic');
  src: url(../fonts/amazing-grotesk/demi-italic/amazing_grotesk_demi_italic-webfont.eot?#iefix) format('embedded-opentype'),local('AG-Demi-Italic'),url(../fonts/amazing-grotesk/demi-italic/amazing_grotesk_demi_italic-webfont.woff) format('woff'),url(../fonts/amazing-grotesk/demi-italic/amazing_grotesk_demi_italic-webfont.ttf) format('truetype'),url(../fonts/amazing-grotesk/demi-italic/amazing_grotesk_demi_italic-webfont.svg#AG-Demi-Italic) format('svg');
}