extends partials/templates/template.pug

block content
    include partials/components/reviews.pug
    include partials/components/reasons.pug
    include partials/components/requirements.pug
    include partials/components/final.pug