
<!-- Final-->
<section class="b-final">
  <div class="container">
    <div class="row">
      <h2 class="site-h2 -no-shadow">Вместо заключения</h2>
    </div>
    <div class="row">
      <div class="column -xs-12 -md-8 -md-offset-2">
        <div class="text">
          <p><span class="big">Вебкам</span> - не такая уж и простая работа, как ее описывают многие студии на просторах интернета. Она требует определенных навыков, знаний и качеств характера.</p>
          <p><span class="big">Чтобы зарабатывать</span> в этом бизнесе, нужно также усердно работать, как и во многих других сферах. Почти все наши модели получают больше 1200$ в месяц, и на самом деле этого не так просто добиться.</p>
          <p><span class="big">Однако</span> это не значит, что если ты устроишься к нам, то ты будешь хорошо зарабатывать. Мы тебе предаставим условия и знания для того, чтобы хорошо зарабатывать, а остльное зависит от тебя! Дерзай!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column -xs-12 -md-8 -md-offset-2">
        <h3 class="site-h3">Запись на кастинг</h3>
      </div>
    </div>
    <form class="casting-form row" method="post" action="mail.php">
      <div class="column -xs-12 -md-2 -md-offset-2">
        <label>
          <input type="text" placeholder="Имя" name="name-final" required="required"/>
        </label>
      </div>
      <div class="column -xs-12 -md-3">
        <label>
          <input type="tel" placeholder="+7(___)___-__-__" name="phone-final" required="required"/>
        </label>
      </div>
      <div class="column -xs-12 -md-3">
        <button class="submit" name="final-send" value="Send Message">Записаться!</button>
      </div>
    </form>
    <div class="row">
      <div class="column -xs-12 -md-5 -md-offset-2">
        <p class="smalltext">если заполнить здесь, то получишь 127$!</p>
        <p class="biggertext">По телефону ответим на все вопросы!;)</p>
      </div>
      <div class="column -xs-12 -md-3 _d-flex _justify-right"><a class="notrecord" href="javascript:void(0)">Не буду записываться</a></div>
    </div>
  </div>
</section>