
<!-- Requirements-->
<section class="s-requirement">
  <div class="container">
    <div class="row">
      <div class="column -xs-12 -md-8 -md-offset-2">
        <h2 class="site-h2 -bg">Требования к моделям</h2>
      </div>
    </div>
    <div class="row">
      <div class="column -xs-12 -md-4 -md-offset-2">
        <div class="requirment-item"><img src="../img/pics/you-girl.png" alt="Ты девушка" title="Ты девушка"/>
          <p class="text">Ты девушка</p>
        </div>
      </div>
      <div class="column -xs-12 -md-4">
        <div class="requirment-item -small"><img src="../img/pics/18years.png" alt="Ты страше 18" title="Ты страше 18"/>
          <p class="text">Ты страше 18</p>
        </div>
        <div class="requirment-item -small"><img src="../img/pics/motivation.png" alt="Ты мотивирована" title="Ты мотивирована"/>
          <p class="text">Ты мотивирована</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column -xs-12 -md-8 -md-offset-2">
        <div class="text">
          <p>Главными являются только эти три требования.</p>
          <p>Внешность, возраст, знание английского и многое другое решается ИНДИВИДУАЛЬНО.</p>
        </div>
      </div>
    </div>
  </div>
</section>