
<!-- Review-->
<!-- Reviews-->
<section class="container b-reviews">
  <div class="row">
    <div class="column -xs-10 -xs-offset-1">
      <h2 class="site-h2 -reviews">Отзывы <sup>*</sup></h2>
    </div>
  </div>
  <!-- Slider-->
  <div class="row">
    <div class="column -xs-8 -xs-offset-2 -md-10 -md-offset-1">
      <div class="b-slider" id="js-reviews-slider">
        <div class="b-review">
          <div class="row">
            <div class="column -xs-12 -md-9 review-text">
              <div class="text">
                <p>Я закончила медицинский университет в Питере. Более года пыталась устроиться по специальности в хорошую больницу, новезде идут сокращения, да и вообще врачи сейчас получают очень мало...</p>
                <p>В один день я случайно увидела страницу девочки в вк, страница явно фейковая, но на ней были рассказы моделей про работу и про деньги, которые там можно заработать. Мне было интересно, можно ли действительно получать такие деньги. Долгое время я не писала этой девочки. Просто я из Бурятии, а там даже минет считается чем-то позорным, а что уж говорить про работу веб-модели? Сразу все скажут, что «шлюха», «шалава» или еще что-нибудь.</p>
                <p>Однако после месяца раздумий решила все-таки написать. Она мне все рассказала и пригласила на собеседование, ну в общем так я и устроилась. Сначала мне было как-то стремно. Надо врать друзьям и родным по поводу работы. Но потом я придумала прикрытие - у меня появился состоятельный парень, который заботится обо мне моих родителях тоже! </p>
                <p>Когда искала работу, работала официанткой, получала 35-40 тысяч.Сейчас в среднем в месяц 1500$. И я работаю половину недели обычно</p>
              </div>
            </div>
            <div class="column -xs-12 -md-3 _d-flex review-data">
              <div class="b-data">
                <div class="b-salary">
                  <div class="summ -old"><span class="num" data-salary="500">0</span>
                    <div class="chart" data-height="40"></div><span class="word">Было</span>
                  </div>
                  <div class="summ -new"><span class="num" data-salary="1500">0</span>
                    <div class="chart" data-height="70"></div><span class="word">Стало</span>
                  </div>
                </div>
                <div class="person"><span class="wage">Зарплата</span><span class="name">Арюна,</span><span class="working">работает 8 месяцев</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="b-review">
          <div class="row">
            <div class="column -xs-12 -md-9 review-text">
              <div class="text">
                <p>Я закончила медицинский университет в Питере. Более года пыталась устроиться по специальности в хорошую больницу, новезде идут сокращения, да и вообще врачи сейчас получают очень мало...</p>
                <p>В один день я случайно увидела страницу девочки в вк, страница явно фейковая, но на ней были рассказы моделей про работу и про деньги, которые там можно заработать. Мне было интересно, можно ли действительно получать такие деньги. Долгое время я не писала этой девочки. Просто я из Бурятии, а там даже минет считается чем-то позорным, а что уж говорить про работу веб-модели? Сразу все скажут, что «шлюха», «шалава» или еще что-нибудь.</p>
                <p>Однако после месяца раздумий решила все-таки написать. Она мне все рассказала и пригласила на собеседование, ну в общем так я и устроилась. Сначала мне было как-то стремно. Надо врать друзьям и родным по поводу работы. Но потом я придумала прикрытие - у меня появился состоятельный парень, который заботится обо мне моих родителях тоже! </p>
                <p>Когда искала работу, работала официанткой, получала 35-40 тысяч.Сейчас в среднем в месяц 1500$. И я работаю половину недели обычно</p>
              </div>
            </div>
            <div class="column -xs-12 -md-3 _d-flex review-data">
              <div class="b-data">
                <div class="b-salary">
                  <div class="summ -old"><span class="num" data-salary="500">0</span>
                    <div class="chart" data-height="40"></div><span class="word">Было</span>
                  </div>
                  <div class="summ -new"><span class="num" data-salary="1500">0</span>
                    <div class="chart" data-height="70"></div><span class="word">Стало</span>
                  </div>
                </div>
                <div class="person"><span class="wage">Зарплата</span><span class="name">Арюна,</span><span class="working">работает 8 месяцев</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="b-review">
          <div class="row">
            <div class="column -xs-12 -md-9 review-text">
              <div class="text">
                <p>Я закончила медицинский университет в Питере. Более года пыталась устроиться по специальности в хорошую больницу, новезде идут сокращения, да и вообще врачи сейчас получают очень мало...</p>
                <p>В один день я случайно увидела страницу девочки в вк, страница явно фейковая, но на ней были рассказы моделей про работу и про деньги, которые там можно заработать. Мне было интересно, можно ли действительно получать такие деньги. Долгое время я не писала этой девочки. Просто я из Бурятии, а там даже минет считается чем-то позорным, а что уж говорить про работу веб-модели? Сразу все скажут, что «шлюха», «шалава» или еще что-нибудь.</p>
                <p>Однако после месяца раздумий решила все-таки написать. Она мне все рассказала и пригласила на собеседование, ну в общем так я и устроилась. Сначала мне было как-то стремно. Надо врать друзьям и родным по поводу работы. Но потом я придумала прикрытие - у меня появился состоятельный парень, который заботится обо мне моих родителях тоже! </p>
                <p>Когда искала работу, работала официанткой, получала 35-40 тысяч.Сейчас в среднем в месяц 1500$. И я работаю половину недели обычно</p>
              </div>
            </div>
            <div class="column -xs-12 -md-3 _d-flex review-data">
              <div class="b-data">
                <div class="b-salary">
                  <div class="summ -old"><span class="num" data-salary="500">0</span>
                    <div class="chart" data-height="40"></div><span class="word">Было</span>
                  </div>
                  <div class="summ -new"><span class="num" data-salary="1500">0</span>
                    <div class="chart" data-height="70"></div><span class="word">Стало</span>
                  </div>
                </div>
                <div class="person"><span class="wage">Зарплата</span><span class="name">Арюна,</span><span class="working">работает 8 месяцев</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="b-review">
          <div class="row">
            <div class="column -xs-12 -md-9 review-text">
              <div class="text">
                <p>Я закончила медицинский университет в Питере. Более года пыталась устроиться по специальности в хорошую больницу, новезде идут сокращения, да и вообще врачи сейчас получают очень мало...</p>
                <p>В один день я случайно увидела страницу девочки в вк, страница явно фейковая, но на ней были рассказы моделей про работу и про деньги, которые там можно заработать. Мне было интересно, можно ли действительно получать такие деньги. Долгое время я не писала этой девочки. Просто я из Бурятии, а там даже минет считается чем-то позорным, а что уж говорить про работу веб-модели? Сразу все скажут, что «шлюха», «шалава» или еще что-нибудь.</p>
                <p>Однако после месяца раздумий решила все-таки написать. Она мне все рассказала и пригласила на собеседование, ну в общем так я и устроилась. Сначала мне было как-то стремно. Надо врать друзьям и родным по поводу работы. Но потом я придумала прикрытие - у меня появился состоятельный парень, который заботится обо мне моих родителях тоже! </p>
                <p>Когда искала работу, работала официанткой, получала 35-40 тысяч.Сейчас в среднем в месяц 1500$. И я работаю половину недели обычно</p>
              </div>
            </div>
            <div class="column -xs-12 -md-3 _d-flex review-data">
              <div class="b-data">
                <div class="b-salary">
                  <div class="summ -old"><span class="num" data-salary="500">0</span>
                    <div class="chart" data-height="40"></div><span class="word">Было</span>
                  </div>
                  <div class="summ -new"><span class="num" data-salary="1500">0</span>
                    <div class="chart" data-height="70"></div><span class="word">Стало</span>
                  </div>
                </div>
                <div class="person"><span class="wage">Зарплата</span><span class="name">Арюна,</span><span class="working">работает 8 месяцев</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column -xs-12 -md-6 -md-offset-3">
      <p class="text">*Мы не ставим фотографии моделей по понятным причинам, но отзывы настоящие. Их отсавили наши реальные модели.</p>
    </div>
  </div>
</section>