a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

.slick-list.pseudo-class-focus {
  outline: none;
}

a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

.b-slider .slick-arrow.pseudo-class-hover {
  opacity: 1;
}

.b-review .text p.pseudo-class-last-child {
  margin-bottom: 0;
}

.s-requirement div.text p.pseudo-class-first-child {
  margin-bottom: 30px;
}

.requirment-item.pseudo-class-hover > img {
  transform: scale(2);
}

.requirment-item.-small.pseudo-class-first-child {
  margin-bottom: 20px;
}

section.b-final div.text p.pseudo-class-last-child {
  margin-bottom: 0;
}

footer a.icon.pseudo-class-hover {
  transform: scale(1.2);
}