// Review
mixin review
    .b-review
        .row
            .column.-xs-12.-md-9.review-text
                .text
                    p Я закончила медицинский университет в Питере. Более года пыталась устроиться по специальности в хорошую больницу, новезде идут сокращения, да и вообще врачи сейчас получают очень мало...
                    p В один день я случайно увидела страницу девочки в вк, страница явно фейковая, но на ней были рассказы моделей про работу и про деньги, которые там можно заработать. Мне было интересно, можно ли действительно получать такие деньги. Долгое время я не писала этой девочки. Просто я из Бурятии, а там даже минет считается чем-то позорным, а что уж говорить про работу веб-модели? Сразу все скажут, что «шлюха», «шалава» или еще что-нибудь.
                    p Однако после месяца раздумий решила все-таки написать. Она мне все рассказала и пригласила на собеседование, ну в общем так я и устроилась. Сначала мне было как-то стремно. Надо врать друзьям и родным по поводу работы. Но потом я придумала прикрытие - у меня появился состоятельный парень, который заботится обо мне моих родителях тоже!
                    p Когда искала работу, работала официанткой, получала 35-40 тысяч.Сейчас в среднем в месяц 1500$. И я работаю половину недели обычно
            .column.-xs-12.-md-3._d-flex.review-data
                .b-data
                    .b-salary
                       .summ.-old
                           span(data-salary="500").num 0
                           div(data-height="40").chart
                           span.word Было
                       .summ.-new
                           span(data-salary="1500").num 0
                           div(data-height="70").chart
                           span.word Стало
                    .person
                        span.wage Зарплата
                        span.name Арюна,
                        span.working работает 8 месяцев