// Final
section.b-final
    .container
        .row
            h2.site-h2.-no-shadow Вместо заключения
        .row
            .column.-xs-12.-md-8.-md-offset-2
                .text
                    p <span class="big">Вебкам</span> - не такая уж и простая работа, как ее описывают многие студии на просторах интернета. Она требует определенных навыков, знаний и качеств характера.
                    p <span class="big">Чтобы зарабатывать</span> в этом бизнесе, нужно также усердно работать, как и во многих других сферах. Почти все наши модели получают больше 1200$ в месяц, и на самом деле этого не так просто добиться.
                    p <span class="big">Однако</span> это не значит, что если ты устроишься к нам, то ты будешь хорошо зарабатывать. Мы тебе предаставим условия и знания для того, чтобы хорошо зарабатывать, а остльное зависит от тебя! Дерзай!
        .row
            .column.-xs-12.-md-8.-md-offset-2
                h3.site-h3 Запись на кастинг
        form(method="post" action="mail.php").casting-form.row
            .column.-xs-12.-md-2.-md-offset-2
                label
                    input(type="text" placeholder="Имя" name="name-final" required)
            .column.-xs-12.-md-3
                label
                    input(type="tel" placeholder="+7(___)___-__-__" name="phone-final" required)
            .column.-xs-12.-md-3
                button(name="final-send" value="Send Message").submit Записаться!
        .row
            .column.-xs-12.-md-5.-md-offset-2
                p.smalltext если заполнить здесь, то получишь 127$!
                p.biggertext По телефону ответим на все вопросы!;)
            //.column.-xs-12.-md-3._d-flex._justify-right
                a(href="javascript:void(0)").notrecord Не буду записываться