footer
    .container
        .row
            .column.-xs-12.-sm-6.-sm-offset-2._d-flex._align-center
                .links
                    span Подписывайся:
                    a(href="http://vk.com/ccamgirls" target="_blank").icon.-vk
                    a(href="http://www.instagram.com/ccamgirls/" target="_blank").icon.-inst
                    a(href="https://www.facebook.com/ccamgirls/" target="_blank").icon.-fb
            .column.-xs-4.-xs-offset-4.-sm-2.-sm-offset-0._d-flex._justify-center
                .logo
                    img(src="../img/pics/logo-footer.png" alt="Charming Camgirls" title="Charming Camgirls")