// Reasons
include ../abstracts/mixins/_reason.pug
section.s-reasons
    .container
        .row
            h2.site-h2 5 причин работать с нами
        .row
            +reason("training.png","Обучение", "Есть реально полезное обучение, а не просто запись на сайте.<br/> Даже <span>ОПЫТНЫЕ МОДЕЛИ</span> его хвалят!")
            +reason("humans.png","Персонал", "<span>ПЕРСОНАЛ</span> - отзывчивый и грамотный. Для тебя это огромный плюс, потому что ты сможешь быстро и легко решить многие вопросы в процессе работы!")
            +reason("equipment.png", "Оборудование", "Комнаты хорошо оборудованы, и грамотно обставлены а это значит, что тебе будет <span>КОМФОРТНО РАБОТАТЬ!</span>")
            +reason("corporative.png", "Корпоративы", "У нас очень круто организуются корпоративы. В прошлый раз всей студией на квадроциклах катались.<br/> В следующий <span>ПЛАНИРУЕМ НА ТАНКАХ;)</span>")
            +reason("interpreter.png", "Переводчик", "У нас ты можешь работать с оператором-переводчиком, а это круто, так как можно не заморачиваться с <span>АНГЛИЙСКИМ.</span>")